@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('../fonts/leaguegothic/League_Gothic-webfont.eot');
    src: local('?'), url('../fonts/leaguegothic/League_Gothic-webfont.woff') format('woff'), url('../fonts/leaguegothic/League_Gothic-webfont.ttf') format('truetype'), url('../fonts/leaguegothic/League_Gothic-webfont.svg#webfontFHzvtkso') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BitstreamVeraSerifRoman';
    src: url('../fonts/veraserif/VeraSerif-webfont.eot');
    src: local('?'), url('../fonts/veraserif/VeraSerif-webfont.woff') format('woff'), url('../fonts/veraserif/VeraSerif-webfont.ttf') format('truetype'), url('../fonts/veraserif/VeraSerif-webfont.svg#webfontCqg5Rc6X') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChunkFiveRegular';
    src: url('../fonts/chunkfive/Chunkfive-webfont.eot');
    src: local('?'), url('../fonts/chunkfive/Chunkfive-webfont.woff') format('woff'), url('../fonts/chunkfive/Chunkfive-webfont.ttf') format('truetype'), url('../fonts/chunkfive/Chunkfive-webfont.svg#webfont90E2uSjN') format('svg');
    font-weight: normal;
    font-style: normal;
}